{% extends 'base.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}
 <section class="recettes">
  <div class="container-fluid">

   <div class="row">
    <div class="col-12 col-md-3 col-lg-3">
     {{ form_start(form, {'attr' : { class:'mysearch'}}) }}
     {{ form_end(form) }}
    </div>
    <div class="col-12 col-md-9 col-lg-9">
     <div class="d-flex align-items-center">
     <h1>  Recette </h1>
      {# <a href="{{ path('app_new_recette') }}" class=" btn btn-success btn-sm mx-3">Ajouter</a> #}
     </div>


     {% if recettes|length == 0 %}
      <div class="alert alert-danger text-center mt-5" role="alert">
       Aucune recette
      </div>
     {% else %}
      <table class="table table-hover">
       <thead>
       <tr>
        <th scope="col">{{ knp_pagination_sortable(recettes, 'Date', 'date') }}</th>
        <th scope="col">{{ knp_pagination_sortable(recettes, 'Nom du produit', 'name') }}</th>
        <th scope="col">{{ knp_pagination_sortable(recettes, 'Quantité', 'quantite') }}</th>
        <th scope="col">{{ knp_pagination_sortable(recettes, 'Prix', 'price') }}</th>
        <th scope="col">Prix Total</th>
        <th scope="col">Payement</th>
        <th scope="col">Client</th>
       </tr>
       </thead>
       <tbody>
       {% set recetteTotale = null %}
       {% for recette in recettes %}
        <tr>
         <td>{{ recette.date|date('d/m/Y') }}</td>
         <td>{{ recette.produits }}</td>
         <td>
        {# <a href="{{ path('app_decrease_quantite_recette',{'id': recette.id}) }}"class="btn btn-danger btn-sm">-</a> #}

          {{ recette.quantite }}

{# {% if recette.produits.stock != 0 %}
           <a href="{{ path('app_add_quantite_recette',{'id': recette.id}) }}"class="btn btn-success btn-sm">+</a>
           {% else %}
            <a href="{{ path('app_add_quantite_recette',{'id': recette.id}) }}"class="btn btn-success btn-sm disabled">+</a>
          {% endif %} #}
         </td>
         <td>{{ recette.price|number_format(0,',','.') }} Ar</td>
         <td>{{ (recette.price * recette.quantite)|number_format(0,',','.') }} Ar</td>
         <td>
           {% if  recette.payment == 'Non payé' %}
             <span class="badge text-bg-danger"> {{ recette.payment }}</span>
           {% else %}
            <span class="badge text-bg-success"> {{ recette.payment }}</span>
           {% endif %}

         </td>
         <td>{{ recette.observation }}</td>
         <td>
          <a href="{{ path('app_edit_recette', { id : recette.id}) }}" class="mx-3"><img src="{{ asset('img/pencil.svg') }}" alt=""></a>
          <a href="{{ path('app_delete_recette', { id : recette.id}) }}" class="mx-3"><img src="{{ asset('img/trash.svg') }}" alt="" ></a>

         </td>
        </tr>
        {% set recetteTotale =  recetteTotale + (recette.price * recette.quantite) %}
       {% endfor %}
       </tbody>
      </table>
      <p class="recette">
       Recette total : {{ recetteTotale|number_format(0,',','.') }} Ar
      </p>
     {% endif %}
    </div>
   </div>

  </div>
 </section>

{% endblock %}
