<section class="fournisseur">
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card makakely my-lg-0 my-md-0 my-3">
                <h4 class="text-center">Makakely</h4>
                <p>Recette : <span class="price text-black">{{ Mkl.getRecette|number_format(0,',','.') }} Ar</span><br>
                    Dépense: <span class="price text-black">{{ Mkl.getDepense|number_format(0,',','.') }} Ar</span> <br>
                    Solde : <span class="price text-black">{{ Mkl.getSolde|number_format(0,',','.') }} Ar</span>
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card makakely my-lg-0 my-md-0 my-3 ">
                <h4 class="text-center">Ulysse</h4>
                <p>Recette : <span class="price text-black">{{ Mkl.getRecette|number_format(0,',','.') }} Ar</span><br>
                    Dépense: <span class="price text-black">{{ Mkl.getDepense|number_format(0,',','.') }} Ar</span> <br>
                    Solde : <span class="price text-black">{{ Mkl.getSolde|number_format(0,',','.') }} Ar</span>
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card makakely my-lg-0 my-md-0 my-3">
                <h4 class="text-center">Ekinox</h4>
                <p>Recette : <span class="price text-black">{{ Ekinox.getRecette|number_format(0,',','.') }} Ar</span><br>
                    Dépense: <span class="price text-black">{{ Ekinox.getDepense|number_format(0,',','.') }} Ar</span> <br>
                    Solde : <span class="price text-black">{{ Ekinox.getSolde|number_format(0,',','.') }} Ar</span>
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card makakely my-lg-0 my-md-0 my-3 mt-lg-2 mt-md-3">
                <h4 class="text-center">Ks</h4>
                <p>Recette : <span class="price text-black">{{ Ks.getRecette|number_format(0,',','.') }} Ar</span><br>
                    Dépense: <span class="price text-black">{{ Ks.getDepense|number_format(0,',','.') }} Ar</span> <br>
                    Solde : <span class="price text-black">{{ Ks.getSolde|number_format(0,',','.') }} Ar</span>
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card makakely my-lg-0 my-md-0 my-3 mt-lg-2 mt-md-3">
                <h4 class="text-center">Mampionona</h4>
                <p>Recette : <span class="price text-black">{{ Mampionina.getRecette|number_format(0,',','.') }} Ar</span><br>
                    Dépense: <span class="price text-black">{{ Mampionina.getDepense|number_format(0,',','.') }} Ar</span> <br>
                    Solde : <span class="price text-black">{{ Mampionina.getSolde|number_format(0,',','.') }} Ar</span>
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card makakely my-lg-0 my-md-0 my-3 mt-lg-2 mt-md-3">
                <h4 class="text-center">James</h4>
                <p>Recette : <span class="price text-black">{{ James.getRecette|number_format(0,',','.') }} Ar</span><br>
                    Dépense: <span class="price text-black">{{ James.getDepense|number_format(0,',','.') }} Ar</span> <br>
                    Solde : <span class="price text-black">{{ James.getSolde|number_format(0,',','.') }} Ar</span>
                </p>
            </div>
        </div>
    </div>
</section>