<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Kaboum-{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('logo.jpg') }}" class="rounded-5">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <style>
            .photo_profil {

            }
            .police{
                font-family: "Centaur", sans-serif;
                font-size: 25px;
                margin-left: 15px;
            }
          .admin  a{
               text-decoration: none;
            }
        .panier .badge{
              color: #00ff33;
              position: relative;
              top: -12px;
              background-color: #0d6efd;

          }
            .offcanvas-body li a{
                font-size: 20px;
            }
        </style>
    </head>
    <body>
    <header class="py-2 mb-3 border-bottom bg-dark fixed-top">
        <div class="container d-grid gap-3 align-items-center " style="grid-template-columns: 1fr 2fr;">

            <a class="navbar-brand police me-auto link-light" href="/admin" ><img src="{{ asset('logo.jpg') }}" alt="logo" class="rounded-circle mylogo"> KABOUM-PC</a>
            {% if app.user %}
                <div class="d-flex align-items-center justify-content-end">

                    <div class="flex-shrink-0 dropdown">
                        <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/Photo_profi/{{ app.user.illustration }}" alt="mdo" width="32" height="32" class="rounded-circle mx-1">{{ app.user.name }}
                        </a>
                        <ul class="dropdown-menu text-small shadow">
                            <li>
                                <a class="dropdown-item"  href="{{ path('app_account') }}">
                                    <img src="{{ asset('img/profil.svg') }}" alt="" class="mx-1">Mon profil
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"  href="{{ path('app_product') }}">
                                    <img src="{{ asset('img/produit.svg') }}" alt="" class="mx-1">Produit
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="{{ path('app_depense') }}">
                                    <img src="{{ asset('img/depense.svg') }}" alt="" class="mx-1"> Dépense
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('app_customer') }}">
                                    <img src="{{ asset('img/client.svg') }}" alt="" class="mx-1" class="w-25"> Client
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/admin">
                                    <img src="{{ asset('img/admin.svg') }}" alt="" class="mx-1">Tableau de bord</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">
                                    <img src="{{ asset('img/logOut.svg') }}" alt="" class="mx-1">Log Out
                                </a>
                            </li>

                        </ul>
                    </div>
                    <a type="button" class="btn btn-primary position-relative mx-3" href="{{ path('app_recette_today') }}">
                        <img src="{{ asset('img/cart.svg') }}" alt="cart">
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                      {{ recette.nbRecetteToDay }}
                    </span>
                    </a>
                </div>
            {% endif %}

        </div>
    </header>
    <div class="margin">
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
